<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Conta Zup</title>
	
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
	
	</head>
	<body>
		<h1>Banco Digital - ZUP Bootcamp</h1>

		
		
	  <div class="row">
	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="images/Bank-account-1.png">
	          <span class="card-title">Cadastro</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/cadastropessoa"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>Cadastro para abertura de nova contas.</p>
	        </div>
	      </div>
	    </div>
	  </div>
		
		
		
		<!--JavaScript at end of body for optimized loading-->
	    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	    <script type="text/javascript" src="materialize/js/materialize.js"></script>
		
	</body>
</html>